h2 {
  text-align: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-transaction {
  width: 50%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.box > mat-form-field {
  width: 100%;
}
.box:last-of-type {
  grid-column: span 2;
}
button {
  grid-column: span 2;
}
