.transactions{
    margin: 30px 200px ;
}
table{
    padding: 30px;
    padding-bottom: 0;
    border-radius: 20px 20px 0 0 !important;
}
h2{
    text-align: center;
}
.paginator{
    margin-bottom: 200px;
    border-radius: 0 0 20px 20px !important;
}