.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  ul{
    list-style: none;
    display: flex;
    font-size: 1rem;
    gap: 20px;
  }
}
.switcher{
  margin-right: 10px;
}
.active{
    color: var(--mat-full-pseudo-checkbox-selected-icon-color);
}