.switcher-icon{
    width: 20px;
    .mat-icon{
        height: 50px;
        width: 50px;
    }
}
// mat-menu{
// }
// .mat-mdc-menu-content{
   
// }
.menu-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 16px;
}